@media (max-width: 1270px) {
  .search__cart {
    left: 88%;
  }
}
@media (max-width: 1150px) {
  .about__inner {
    margin-bottom: 40px;
  }
}

@media (max-width: 1070px) {
  .search__cart {
    left: 86%;
  }
  .cards {
    margin-top: 120px;
    &__item {
      margin-left: 0px;
      &-icon {
        bottom: 150px;
        left: 60px;
      }
      &-title {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 18px;
      }
      &-text {
        font-size: 15px;
      }
    }
  }
  .grid__container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 984px) {
  .header__top {
    flex-direction: column;
    align-items: center;
    .logo {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 910px) {
  .header__nav {
    height: 0;
    padding: 0;
    background-color: transparent;
  }
  .burger__menu {
    &-button {
      position: absolute;
      bottom: 144px;
      left: 10px;
      width: 20px;
      height: 20px;
      z-index: 30;
      transition: 0.5s;
    }
    &:hover &-lines {
      filter: brightness(0.7);
    }
    &-lines,
    &-lines::after,
    &-lines::before {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #fff;
    }
    &-lines {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-lines::before {
      content: "";
      top: -12px;
    }
    &-lines::after {
      content: "";
      top: 12px;
    }
    &-active &-button,
    &-active &-lines {
      background-color: transparent;
    }
    &-active &-lines::before {
      top: 0;
      transform: rotate(45deg);
    }
    &-active &-lines::after {
      top: 0;
      transform: rotate(-45deg);
    }
    .menu {
      position: fixed;
      top: 0px;
      left: -100%;
      z-index: 20;
      height: 100%;
      flex-flow: column;
      padding-top: 120px;
      background-color: #2a2a2a;
      overflow-y: auto;
      transition: 0.5s;
      &__list {
        flex-direction: column;
        &-item {
          margin: 10px 60px 20px 20px;
          &:hover .services__list {
            display: block;
            background-color: #2a2a2a;
          }
        }
      }
      &__list-link {
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        &:hover {
          filter: brightness(0.7);
        }
      }
      .services__list {
        display: none;
        position: absolute;
        &-item {
          padding: 10px 10px 0px 0px;
          margin-bottom: 20px;
        }
        .menu__list-link2 {
          display: inline-block;
          font-size: 18px;
          text-transform: uppercase;
          color: #cc1e1e;
          transition: 0.4s;
          &:hover {
            filter: brightness(0.7);
          }
        }
      }
    }
    &-active .menu {
      left: 0;
    }
    &-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      z-index: 10;
    }
    &-active &-overlay {
      display: block;
    }
  }
  .search__cart {
    bottom: 150px;
    padding: 2px 12px;
    background-color: #fff;
    &:hover > .search__txt {
      width: 120px;
      padding: 0;
    }
    .cart {
      margin-left: 12px;
    }
    .search__txt {
      width: 120px;
      font-size: 14px;
    }
    .search__btn {
      padding-left: 8px;
    }
  }
  .header__main {
    margin-top: 150px;
    max-width: 520px;
    &-title {
      font-size: 50px;
    }
  }
}
@media (max-width: 800px) {
  .header__top {
    .logo {
      margin-bottom: 100px;
      position: relative;
      left: 35%;
    }
    .information {
      flex-direction: column;
      align-items: center;
      .time {
        max-width: 97px;
        margin-bottom: 20px;
      }
      .contact {
        margin-bottom: 30px;
      }
    }
  }
  .burger__menu {
    &-button {
      bottom: 350px;
    }
  }
  .search__cart {
    bottom: 280px;
    left: 50%;
    &:hover > .search__txt {
      width: 160px;
    }
    .search__txt {
      width: 160px;
    }
  }
  .header__main {
    margin: 80px auto 0px;
    text-align: center;
    max-width: 500px;
    &-title {
      font-size: 48px;
    }
  }
  .cards {
    &__item {
      max-width: 190px;
      &-title {
        font-size: 17px;
        max-width: 120px;
        margin: 0 auto 20px;
      }
      &-icon {
        bottom: 200px;
        left: 60px;
      }
      &-text {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 770px) {
  .grid__container {
    .grid__item {
      width: 420px;
      padding: 50px 40px;
      &-text {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 674px) {
  .header__top {
    .logo {
      left: 30%;
    }
  }
  .about__inner {
    margin-bottom: 0;
    &-title {
      text-align: start;
      font-size: 30px;
    }
  }
  .promise__main {
    margin-bottom: 0;
    &-title {
      max-width: 370px;
    }
  }
  .cards {
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    &__item {
      max-width: 280px;
      margin-bottom: 100px;
      &-title {
        font-size: 17px;
        max-width: 220px;
        margin: 0 auto;
      }
      &-icon {
        bottom: 100px;
        left: 100px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 504px) {
  .header__top {
    .logo {
      left: 0%;
    }
  }
  .header__main {
    max-width: 380px;
    &-title {
      font-size: 38px;
    }
  }
  .about__inner {
    padding: 90px 50px 0px 50px;
    &-title {
      font-size: 26px;
      text-align: center;
      line-height: 34px;
    }
  }
  .grid__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    .grid__item {
      width: 290px;
      padding: 40px 30px 30px 30px;
    }
  }
}
@media (max-width: 360px) {
  .header__top {
    .logo {
      left: 10%;
    }
  }
  .header__main {
    max-width: 280px;
    &-title {
      font-size: 34px;
    }
  }
  .about__inner {
    height: 750px;
    padding: 80px 20px 0px 20px;
    &-title {
      font-size: 26px;
      text-align: center;
      line-height: 34px;
    }
  }
  .cards {
    &__item {
      &-title {
        margin: 0 auto 10px;
      }
      &-text {
        font-size: 13px;
      }
    }
  }
  .grid__container {
    .grid__item {
      width: 280px;
      padding: 30px;
      &-text {
        font-size: 16px;
      }
    }
  }
}
